.input {
  padding: 5px 10px;
  border: 1px solid rgb(187, 187, 187);
  outline: none;
  font-size: 14px;
}
.input:focus {
  border: 1px solid black;
}

.button {
  padding: 8px 15px;
  border: none;
  background-color: rgb(15, 179, 255);
  color: white;
  font-weight: 550;
  font-size: 14px;
  border: 1px solid rgb(15, 159, 255);
}

.button:hover {
  background-color: rgb(15, 159, 255);
}

.altButton {
  background-color: rgb(163, 163, 163);
  border: 1px solid rgb(163, 143, 163);
}

.altButton:hover {
  background-color: rgb(120, 120, 120);
  border: 1px solid rgb(100, 100, 100);
}

.card-room-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  box-shadow:
    1px 1px 1px #e0e0e0,
    -1px -1px 1px #e0e0e0;
  border-radius: 3px;
  background-color: white;
  border: none;
  width: 100%;
  cursor: pointer;
}

.card-image-container {
  width: 70px;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-message-container {
  max-width: 70%;
  position: relative;
  margin-top: 15px;
}
.card-message-container > div {
  display: flex;
  align-items: center;
  justify-content: start;
  flex-direction: row-reverse;
}

.card-message-image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3px;
  margin-right: 2px;
}

.card-message-box {
  position: relative;
  background-color: white;
  padding: 8px;
  border-radius: 8px 8px 8px 0;
  margin: 5px;
  margin-left: 10px;
  box-shadow:
    1px 1px 1px rgb(238, 238, 238),
    -1px -1px 1px rgb(238, 238, 238);
}

.card-message-box::before {
  content: "";
  position: absolute;
  bottom: 0px;
  left: -9.8px;
  width: 0;
  height: 0;
  border-left: 13px solid transparent;
  border-bottom: 13px solid white;
  filter: drop-shadow(-1px 1px 1px rgb(238, 238, 238));
}

.card-message-name-time {
  position: absolute;
  top: -12px;
  left: 50px;
  font-size: 12px;
}
