.auth-form-container-upper {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.auth-form-container-lower{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
}

.form {
  display: flex;
  flex-direction: column;
  width: 300px;
  padding: 10px;
  border-radius: 4px;
  gap: 10px;
  box-shadow:
    1px 1px 1px rgb(224, 224, 224),
    -1px -1px 1px rgb(224, 224, 224);
}
