.auth-form-container-upper {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.auth-form-container-lower {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
}

.form {
  display: flex;
  flex-direction: column;
  width: 300px;
  padding: 10px;
  border-radius: 4px;
  gap: 10px;
  box-shadow:
    1px 1px 1px rgb(224, 224, 224),
    -1px -1px 1px rgb(224, 224, 224);
}

.home-left-toggle-chat {
  width: 40px;
  aspect-ratio: 1/1;
  border: none;
  background: #d4d4d4;
  box-shadow:
    1px 1px 1px #d4d4d4,
    -1px -1px 1px #d4d4d4;
  border-radius: 7px;
  color: #8e8e8e;
  font-size: 24px;
  font-weight: 700;
}

.home-left-chat-heading {
  font-size: 32px;
  font-weight: 600;
  margin-left: 10%;
}

.home-left-container-heading {
  display: flex;
  align-items: center;
  height: 70px;
  padding: 0 20px;
  box-shadow: 1px 0 2px black;
}

.home-left-profile-view {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px 0;
}

.home-left-profile-view > button {
  position: absolute;
  background: none;
  border: none;
  right: 10px;
  top: 10px;
}

.home-left-profile-view-image {
  padding: 2px;
  border-radius: 100%;
  background-color: rgb(0, 213, 0);
  display: flex;
  align-items: center;
  justify-content: center;
}

.home-left-profile-view-name {
  font-size: 18px;
  margin: 3px;
}

.home-left-profile-view-select {
  background-color: black;
  width: 100px;
  height: 30px;
}

.home-left-container-rooms {
  width: 100%;
  height: calc(100% - 357px);
  padding: 2px;
  border: 1px solid black;
  overflow-y: scroll;
  scrollbar-width: 5px;
}

.home-left-menu {
  height: 45px;
  padding: 3px;

  display: flex;
  justify-content: end;
  align-items: center;
}

.home-left-menu-add-button {
  width: 35px;
  height: 35px;
  color: #8e8e8e;
  font-size: 24px;
  font-weight: 550;
  border: none;
  background-color: #d4d4d4;
  border-radius: 5px;
  margin-right: 3px;
}

.home-right-heading {
  height: 70px;
  display: flex;
  align-items: center;
  padding-left: 30px;
  box-shadow: 1px 0px 2px black;
}

.home-right-chat-and-input-container {
  height: calc(100% - 70.1px);
  background-color: #cdcdcd;
  width: 100%;
}

.home-right-chat-container{
  height: calc(100% - 70.1px);
  overflow-y: scroll;
  scrollbar-width: none;
  padding: 3px;
}

.home-right-message-input-container {
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.home-right-message-send-button {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  border: none;
  background-color: rgb(47, 185, 47);
  width: 42.2px;
  height: 42.2px;
  margin-left: 5px;
  box-shadow:
    1px 1px 5px rgb(183, 183, 183),
    -1px -1px 5px rgb(183, 183, 183);
  transition: all 0.5s;
  cursor: pointer;
}
.home-right-chat-message-send-button:hover {
  box-shadow:
    1px 1px 5px rgb(159, 159, 159),
    -1px -1px 5px rgb(159, 159, 159);
}
.home-right-chat-message-send-button:active {
  box-shadow:
    1px 1px 5px rgb(183, 183, 183),
    -1px -1px 5px rgb(183, 183, 183);
}

#message {
  width: calc(90%);
  padding: 10px;
  font-size: 16px;
  border-radius: 10px;
  color: #8e8e8e;
  box-shadow:
    1px 1px 5px rgb(183, 183, 183),
    -1px -1px 5px rgb(183, 183, 183);
  transition: all 0.3s;
}
#message:hover {
  border: none;
  box-shadow:
    1px 1px 5px rgb(159, 159, 159),
    -1px -1px 5px rgb(159, 159, 159);
}
#message:focus {
  border: none;
  box-shadow:
    1px 1px 5px rgb(125, 125, 125),
    -1px -1px 5px rgb(125, 125, 125);
}
